<?xml version='1.0' encoding='UTF-8'?>
<packages>
  <package allowedVersions="[3,4)" id="Iesi.Collections" targetFramework="net35" version="3.2.0.4000" />
  <package allowedVersions="[3,4)" id="NHibernate" targetFramework="net35" version="3.3.1.4000" />
  <package id="System.Data.SQLite" targetFramework="net35" version="1.0.66.1" />
</packages>