root = true
; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org


[*]
end_of_line = crlf

[*.ps1]
indent_style = space
indent_size = 2

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true

csharp_style_namespace_declarations = file_scoped

dotnet_diagnostic.ide0161.severity = warning

# ReSharper properties
resharper_default_private_modifier = implicit

[*.cake]
indent_style = space
indent_size = 4

[*.js]
indent_style = tab
indent_size = 2
