**/*.suo
**/*.user
**/*.sln*
_ReSharper*

*.DotSettings.user
*.csproj.user
*.resharper.user
*.resharper

*.suo
*.cache
*~
*ncrunch*
*.ncrunchsolution
*.ncrunchproject
*.swp
TestResult.xml
Gemfile.lock

src/packages
bin
obj
dist
output
build
*.nupkg
logs/
src/CommonAssemblyInfo.cs
