
**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*
dist
output
build

*.DotSettings.user
*.csproj.user
src/packages
src/packages/*
*.resharper.user

*.resharper

*.suo

*.cache

*~
src/packages
*.ncrunchsolution
*.ncrunchproject
*.swp
TestResult.xml

src/packages/
TestResult.xml
build/

*.ncrunchsolution
*.ncrunchproject
packages/
