
**/*.suo
**/*.user
**/*.sln*
bin
obj
_ReSharper*
dist
output
build

*.DotSettings.user
*.csproj.user

*.resharper.user

*.resharper

*.suo

*.cache

*~
src/packages
*.ncrunchsolution
*.swp
TestResult.xml
