<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>fluent-nhibernate</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <Floats>
    <string>Bottles</string>
    <string>Bottles.Deployers.IIS</string>
    <string>Bottles.Deployment</string>
    <string>Bottles.Tools</string>
    <string>FubuCore</string>
    <string>FubuLocalization</string>
    <string>FubuTestingSupport</string>
    <string>HtmlTags</string>
    <string>Milkman</string>
    <string>Storyteer</string>
    <string>Storyteller</string>
  </Floats>
</ripple>