<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Test;Data Source=.\sqlexpress" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="NHibernate.Mapping.Assembly" value="FluentNHibernate.QuickStart"/>
	</appSettings>
</configuration>