<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>
  <appSettings>
    <add key="connectionString" value="a-connection-string" />
  </appSettings>
  <connectionStrings>
    <add name="main" connectionString="connection string" />
  </connectionStrings> 
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>