<?xml version='1.0' encoding='UTF-8'?>
<packages>
  <package id="FakeItEasy" targetFramework="net35" version="1.15.0" />
  <package allowedVersions="[3,4)" id="Iesi.Collections" targetFramework="net35" version="3.2.0.4000" />
  <package id="Machine.Specifications" targetFramework="net35" version="0.5.15" />
  <package allowedVersions="[3,4)" id="NHibernate" targetFramework="net35" version="3.4.0.4000" />
  <package id="NUnit" targetFramework="net35" version="2.5.7.10213" />
  <package id="System.Data.SQLite" targetFramework="net35" version="1.0.66.1" />
</packages>