<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.15.0" targetFramework="net40" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net40" allowedVersions="[4,)"/>
  <package id="Machine.Specifications" version="0.5.15" targetFramework="net40" />
  <package id="NUnit" version="2.5.7.10213" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.66.1" targetFramework="net40" />
</packages>