<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="FakeItEasy" targetFramework="net40" version="1.15.0" />
  <package id="Iesi.Collections" version="4.0.2" targetFramework="net461" />
  <package id="Machine.Specifications" targetFramework="net40" version="0.5.15" />
  <package allowedVersions="[4,)" id="NHibernate" targetFramework="net461" version="5.0.3" />
  <package id="NUnit" targetFramework="net40" version="2.5.7.10213" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="net461" />
  <package id="Remotion.Linq.EagerFetching" version="2.1.0" targetFramework="net461" />
  <package id="System.Data.SQLite" targetFramework="net461" version="1.0.107.0" />
  <package id="System.Data.SQLite.Core" version="1.0.107.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.107.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.107.0" targetFramework="net461" />
</packages>